<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Logout panel from LegoSoft">
  <meta name="author" content="rlh">
  <meta name="date" content="February 2023">
  <title>Salida market pl.</title>
</head>
<body>
<div class="container">
  <form class="form-signin" method="POST" th:action="@{/logout}">
    <h2 class="form-signin-heading">Salida del market place de LegoSoft</h2>
    <input name="_csrf" type="hidden" value="b719cc91-1dde-41d7-afd0-a41b3ef59eb4" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Salir</button>
  </form>
  <p></p>
  <div>
    <p>El usuario se ha salido del <i>market</i> place y de <b>todas</b> las ventanas que se encontraban abiertas.</p>
    <p>
      Si se desea regresar al market place del micro-front:
    <div th:if="${param.post_logout_redirect_uri}">
      <a th:if="${iamui}" href="http://iamui:8190">IAM</a>
      <div th:if="${usdfui}"><a href="http://udfui:8210">UDF</a></div>
      <div th:if="${sysui}"><a href="http://sysui:8360">Sistema</a></div>
      <div th:if="${acmeui}"><a href="http://acmeui:8530">Compañía ACME</a></div>
      <div th:if="${carteraui}"><a href="http://carteraui:8510">Ejemplo de cartera</a></div>
      teclee la liga para regresar.
    </div>
  </div>
</div>
</body>
</html>